name: Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25.1'
          check-latest: true
          cache: false

      - name: Install dependencies
        run: |
          go clean -modcache
          go mod tidy && go mod vendor

      - name: Install golangci-lint
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/HEAD/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.7.0
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
          golangci-lint --version

      - name: Run golangci-lint
        run: golangci-lint run --timeout=10m ./...

